body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.app{
    .navigation{
        padding: 1em;
        background:#264653;
        header{
            display: flex;
            align-items: center;
            .nav__heading{
                width: 100%;
                
                a{
                    text-decoration: none;
                    color: white;
                }
            }

            nav{
                width: 100%;
                
                ul{
                display: flex;
                list-style-type: none;
                text-align: right;
                margin: 0;
                padding-right: 0;
                justify-content: flex-end;

                li{
                    margin-left: 0.5em;
                    

                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 1.1rem;
                    }
                }
            }
            }
        }
    }

    .hero{
        background: #F4E3B8;
        .container{
            padding: 1em;
            text-align: center;
            img{
                margin-top: 1em;
                object-fit: contain;
                width: 15em;
                border-radius: 75%;
                border: 0.8em solid #F4A261;
            }
            h1{
                font-weight: 400;
            }
        }
    }

    .skills-section{
        text-align: center;
        background: #264653;
        color: white;
        header{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                object-fit: contain;
                width: 4em;
                margin-right: 0.5em;
            }
        }
        ul{
            display: inline-grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10vw;
            li{

                img{
                    position: relative;
                    top:0.4em;
                }
                list-style-type: none;
                text-align: left;
                margin-top: 0.5em;
                font-size: 1.2em;
            }
        }
    }
}